<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Change profile picture popup -->
<div th:fragment="changePpModal">

    <p hidden id="changePpModal-opOk" th:text="#{generic.opOk}"></p>
    <p hidden id="changePpModal-opErr" th:text="#{generic.opErr}"></p>
    <p hidden id="changePpModal-fileTooBig" th:text="#{error.files.dimension}"></p>

    <div class="modal" id="changePpModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{account_dropdown.change_avatar}"></h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col col-md-auto" style="padding-left: 18px;padding-right: 0;">
                            <img alt="" class="rounded-circle me-2" height="64" id="changePpModal-img"
                                 src="/static/img/default-avatar.svg" style="margin-top: 4%;" width="64">
                        </div>
                        <div class="col">
                            <label class="form-label" for="changePpModal-img" style="margin-bottom: 0; margin-top: 2px;"
                                   th:inline="text">
                                [[#{account_dropdown.select_propic}]] <code>.jpeg</code> <code>.jpg</code>
                                <code>.png</code> (max. 2MB)
                            </label>
                            <input accept=".jpg, .png, .jpeg" class="form-control" id="changePpModal-file" type="file">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="changePpModal-delete" th:inline="text" type="button">
                        <i class="bi bi-trash"></i>
                        [[#{generic.delete}]]
                    </button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" th:inline="text" type="button">
                        <i class="bi bi-x-lg"></i>
                        [[#{generic.cancel}]]
                    </button>
                    <button class="btn btn-primary" id="changePpModal-save" th:inline="text" type="button">
                        <i class="bi bi-check-lg"></i>
                        [[#{generic.save}]]
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

</html>