<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- common navbar for portal pages -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"
     th:fragment="navbar(isAuthenticated, username, fullName, propic)">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img alt="SchoolBoard logo square white" src="/static/img/sblogo-bar.png"/>
        </a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0" th:if="${!isAuthenticated}">
                <li class="nav-item">
                    <a class="nav-link" href="/info/legalNotes"
                       th:classappend="${#httpServletRequest.requestURI == '/info/legalNotes' ? 'active' : ''}"
                       th:text="#{portal.menu.legal-notes}"
                    ></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info/privacy"
                       th:classappend="${#httpServletRequest.requestURI == '/info/privacy' ? 'active' : ''}"
                       th:text="#{portal.menu.privacy-policy}"
                    ></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info/credits"
                       th:classappend="${#httpServletRequest.requestURI == '/info/credits' ? 'active' : ''}"
                       th:text="#{portal.menu.credits}"
                    ></a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-md-0" th:if="${isAuthenticated}"></ul>

            <div class="d-flex" th:if="${isAuthenticated}">
                <div class="dropdown">
                    <a aria-expanded="false"
                       class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" href="#">
                        <img alt="" class="rounded-circle me-2" height="32" th:src="${propic}"
                             width="32"/>
                        <div th:if="${fullName == null}">
                            <strong th:text="${username}"></strong>
                        </div>
                        <div th:unless="${fullName == null}">
                            <strong th:text="${fullName}"></strong>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                        <div th:if="${fullName != null}">
                            <li>
                                <a class="dropdown-item disabled" href="#" th:inline="text">
                                    <i class="bi bi-person"></i>
                                    [[${username}]]
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                        </div>

                        <li>
                            <a class="dropdown-item" target="_blank" th:href="#{account_dropdown.docs_link.content}"
                               th:inline="text">
                                <i class="bi bi-question-octagon"></i>
                                [[#{account_dropdown.docs_link}]]
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/ssoSettings" th:inline="text">
                                <i class="bi bi-gear"></i>
                                [[#{account_dropdown.account_settings}]]
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" data-bs-target="#changePpModal" data-bs-toggle="modal"
                               th:inline="text">
                                <i class="bi bi-person-circle"></i>
                                [[#{account_dropdown.change_avatar}]]
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout" th:inline="text">
                                <i class="bi bi-box-arrow-right"></i>
                                [[#{account_dropdown.logout}]]
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider"/>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/info/legalNotes" th:inline="text">
                                <i class="bi bi-file-earmark-text"></i>
                                [[#{portal.menu.legal-notes}]]
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/info/privacy" th:inline="text">
                                <i class="bi bi-file-earmark-text"></i>
                                [[#{portal.menu.privacy-policy}]]
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/info/credits" th:inline="text">
                                <i class="bi bi-git"></i>
                                [[#{portal.menu.credits}]]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="btn btn-outline-light" href="/login" th:if="${!isAuthenticated}"
               th:text="#{account_dropdown.login}"></a>
        </div>
    </div>
</nav>
</html>