.bi {
    position: relative;
    bottom: 1px;
    margin-right: 5px;
}

.profile-name {
    color: #aaa;
    line-height: 90%;
}

.del-margin {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8%;
}

.link-credits:link {
    text-decoration: none;
    font-weight: bold;
}

.link-credits:visited {
    text-decoration: none;
    font-weight: bold;
}

.link-credits:hover {
    text-decoration: underline;
    font-weight: bold;
}

.link-credits:active {
    text-decoration: underline;
    font-weight: bold;
}
