<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head, MUST be included in all pages! -->
<head th:fragment="html-head (title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title th:text="${title}">SchoolBoard</title>

    <link href="/webjars/bootstrap/5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <link href="/static/img/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/static/img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/site.webmanifest" rel="manifest">
    <link color="#d55bca" href="/static/img/favicons/safari-pinned-tab.svg" rel="mask-icon">
    <link href="/static/img/favicons/favicon.ico" rel="shortcut icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="/static/browserconfig.xml" name="msapplication-config">
    <meta content="#d55bca" name="theme-color">
</head>

<!-- Scripts, MUST be included in all pages! -->
<div th:fragment="common-scripts">
    <script src="/webjars/bootstrap/5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
</html>