<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="general.html :: html-head (title = #{titles.portal.index} + ' - Schoolboard')">
</head>

<body>
<script th:if="${user.isAuthenticated}" th:inline="text">
    let CSRF_PARAM_NAME = "[[${_csrf.parameterName}]]";
    let CSRF_TOKEN = "[[${_csrf.token}]]";
</script>
<link href="/static/css/portal.css" rel="stylesheet">
<nav th:insert="components/portal/navbar.html :: navbar (${user.isAuthenticated}, ${user.username}, ${user.fullName}, ${ppUri})"></nav>

<main class="public-content" th:if="${!user.isAuthenticated}">
    contenuto pubblico
</main>

<main class="container" th:if="${user.isAuthenticated}">
    <div th:insert="components/portal/changePpModal.html :: changePpModal"></div>
</main>

<div th:insert="general.html :: common-scripts"></div>
</body>
</html>